{ margin: 0;
padding: 0;
}

header {
	background-image: url(../3.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
  padding: 20px 0;
  border: 1px solid white;
  text-align: center;
  list-style-type: none;
  
}

ul li {
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
	
}

ul li a:hover{
	background-color: #fff;
	color:#000;
}

.title{ 
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%)
		 
}
.title h1{
		Color: #fff;
		font-size: 50px;	
		
}


.title h2{
		Color: #fff;
		font-size: 20px;
		position:fixed;
		bottom:-1;
		left:160;
		text-decoration: underline 0.6px;
}		
	
	